.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.services .box-container .box i {
    padding: 1rem;
    color: var(--main-Color);
    font-size: 5rem;

}

.services .box-container .box h3 {
    font-size: 2.5rem;
    color: #555;

    
}

.services .box-container .box p {
    padding: 1rem;
    color:#555;
    font-size: 1.5rem;
    padding: 1rem 0;
    
}

.services .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(255, 165, 0, .5);
}